.left{


    float: left;


}

.div{

    
    border: solid 5px;

    width: 220px;
    height: 220px;
    font-size: 140px;
    color: white;
    text-align: center;
    border-color: rgb(54, 59, 92);
    background-color: rgb(76, 84, 141);
}


.container{

    width: auto;
    margin-left : 438px ;
    margin-top: 30px;
    

}



.not{

    pointer-events: none;

}

.add{

    pointer-events: none;

}

body{

    background-color: #FBBB04;
}

.border1{

    border-left: solid 5px rgb(54, 59, 92);
    

}

.border2{

    border-right: solid 5px rgb(54, 59, 92);
    

}

.border3{

    border-bottom: solid 10px rgb(54, 59, 92);
    

}

.border4{

    border-top: solid 10px rgb(54, 59, 92);
    

}



.O{

color: black;

}

@media only screen and (max-width: 500px) {

    
    .div{

        width: 80px;
        height: 80px;
        font-size: 70px;

        text-align: center;

    }
    .left{


        float: left;
    
    }
    .container{

        width: auto;
        margin-left:40px;
        margin-top: 150px;
        
    
    }

    .border1{

        border-left: solid 10px rgb(54, 59, 92);
        
    
    }
    
    .border2{
    
        border-right: solid 10px rgb(54, 59, 92);
        
    
    }
    
    .border3{
    
        border-bottom: solid 15px rgb(54, 59, 92);
        
    
    }
    
    .border4{
    
        border-top: solid 15px rgb(54, 59, 92);
        
    
    }
    
  }